.infobar {
    padding: 1rem;
    margin: 1rem;
    background: #f9f9f9ad;
    border-radius: 10px;
    display: flex;
    height: 80vh;
}

.infobar > * {
    margin: 1rem;
    color: #3f3e42;
}

.contact {
    width: auto;
}

.infobar img {
    width: 100%;
    border-radius: 20px;
}

.infobar .contact-icon {
    width: 2rem;
}

@media screen and (max-width: 768px) {
    .infobar {
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .contact {
        width: auto;
        text-align: center;
    }
}