.infobar {
    padding: 1rem;
    margin: 1rem;
    background: #ffd868;
    border-radius: 10px;
    display: flex;
}

.infobar > * {
    margin: 1rem;
    color: white;
}

.contact {
    width: 30%;
}

.infobar img {
    width: 100%;
    border-radius: 20px;
}

.infobar .contact-icon {
    width: 2rem;
}

@media screen and (max-width: 768px) {
    .infobar {
        flex-direction: column;
        padding: 0;
    }

    .contact {
        width: auto;
        text-align: center;
    }
}