.landing {
    background: #11111399;
    color: white;
    height: 87vh;
    position: relative;
}

.landing > * {
    position: absolute;
    top: 30%;
    left: 13%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.landing h1, h3 {
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .landing > * {
        left: 9%;
    }
}