.project {
    background: #5cb4bdad;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.project:nth-of-type(2N) {
    background: #ffd868;
}

.project-body {
    display: flex;
}

.project-body > * {
    margin: 2rem;
}

.project-info {
    width: 40%;
    background-color: #95a2d421;
    border-radius: 10px;
}

.project-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.project-image-container img {
    width: 85%;
    border-radius: 10px;
    margin: 1rem;
}

.built-with {
    display: flex;
}

.built-with li {
    list-style: none;
}