.projects {
    
    
}

.project {
    background: #5cb4bdad;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.project:nth-of-type(2N) {
    background: #ffd868;
}

.project > * {
    margin: 2rem;
}

.project-image-container {
    display: flex;
    justify-content: space-around;
}

.project-image-container img {
    width: 45%;
    border-radius: 10px;
}

