/* Make sure that padding behaves as expected */
* {box-sizing:border-box}


.skills-container {
    margin: 1rem;
    padding: 2rem;
    background: #f9f9f9ad;
    border-radius: 10px;
}

.skills-heading {
    text-align: center;
}

.skillbars {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
}

/* Container for skill bars */
.container {
  width: 47%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 10px;
  margin: 1rem;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  background-color: #7e8a94;
  border-radius: 10px;
}

.react {width: 90%}
.html {width: 90%;}
.css {width: 65%;}
.js {width: 90%;}
.ror {width: 80%}
.mysql {width: 70%}
.dock {width: 40%}
.mongo {width: 55%}
.node {width: 70%}
.exp {width: 65%}
.git {width: 70%}

@media screen and (max-width: 768px) {
    .skillbars {
        height: auto;
    }

    .container {
        width: auto;
    }
}
